<!DOCTYPE html>
<html>
    <style>
.jumbotron{
    background-color:#ADFF2F;
    color:white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>
 

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic Bootstrap Template</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body background="https://www.planwallpaper.com/static/images/Light-Wood-Background-Wallpaper.jpg" height="1000" width="1000">
   
    <div class="container">
        
       <div class="page-header">
         <h1><font color="black" size="50"> About page</font></h1> 
       </div> 
       <div class="jumbotron">
           <center>
         <p> <font size="30">This is the about page which contains all the info about the application. Please read to fully understand the working of the application</font></p>
         <p>
             <a href="https://92d1c480ec8b44ecae18cce10ea15037.vfs.cloud9.us-east-2.amazonaws.com" class="btn btn-default btn-lg" role="button"><font size="20">Homepage</font></a>
         </p>
         </center>
         
       </div>
    </div>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>